<div class="article">
<h1><%=@article.title_h-%></h1>
<div><%=@article.content_h-%></div>
<div class="author">&Eacute;crit par <%=@article.author.label-%> le <%=@article.created_at.to_formatted_s :long-%> et mis à jour le <%=@article.updated_at.to_formatted_s :long-%></div>
</div>
