-if @agenda.size>0 or @blog.size>0
  .right_menu
    -if @agenda.size>0
      .frame.agenda
        %h3 Agenda
        %table
          -for article in @agenda
            %tr{:class=>cycle('odd','even')}
              %td.date=I18n.localize(article.done_on)
              %td.title=link_to(article.title_h, {:controller=>:inter, :action=>:article, :id=>article.id})
    -if @agenda.size>0 and @blog.size>0
      .separator
    -if @blog.size>0
      .frame.blog
        %h3 Extraits aléatoires
        -for article in @blog
          .extract
            %h4=article.title_h
            %div
              =article.intro_h+link_to('Lire la suite', {:controller=>:intra, :action=>:show_report, :id=>article})

-for @article in @articles
  =render :partial=>'article'
= will_paginate @articles

