= error_messages_for "guest"

%table.form
  =tl "Prénom", text_field(:guest, :first_name)
  =tl "Nom de famille", text_field(:guest, :last_name)
  =tl "Adresse e-mail", text_field(:guest, :email)
  =tl "Annotation", text_field(:guest, :annotation)


