%h1 Tous les langues

%ul.aclist
  %li=link_to "Ajouter une langue", new_language_url

%ul.index
  -for language in Language.find(:all, :order=>:name)
    %li
      %h3
        =language.name
        =" (#{language.native_name})" unless language.native_name.blank?
      .dsc="#{language.iso639}"
      .dsc
        =link_to("Modifier", edit_language_url(language), :class=>"icon im-edit")
        =" &bull; "
        =link_to("Supprimer", language_url(language), :method=>:delete, :confirm=>"Are you sure?", :class=>"icon im-destroy")
