%h1 Mot de passe perdu ?

.login
  %p Saisissez votre nom d'utilisateur et validez. 
  %p Vous recevrez votre nouveau mot de passe par e-mail.
  -form_tag do
    %table.formu
      %tr
        %td.label Nom d'utilisateur
        %td.value=text_field :person, :user_name
        %td.hint Ex.&nbsp;: monlogin
      %tr
        %td{:colspan=>3, :align=>"center"}=submit_tag "Envoyez-moi mon mot de passe"
