%h1 Connectez-vous
.login
  =form_tag(:action=>:create) do
    =hidden_field_tag(:redirect, params[:redirect])
    %table#auth.formu
      %tr
        %td.label Nom d'utilisateur
        %td.value=text_field :person, :user_name
        %td.link=link_to("Nom d'utilisateur perdu&nbsp;?".html_safe, lost_login_url, :tabindex=>3)
      %tr
        %td.label Mot de passe
        %td.value=password_field :person, :password
        %td.link=link_to("Mot de passe perdu&nbsp;?".html_safe, lost_password_url, :tabindex=>4)
      %tr.actions
        %td{:colspan=>3, :align=>"center"}=submit_tag "Se connecter"
      %tr
        %td.signup{:colspan=>3, :align=>"center"}=link_to "Inscription", signup_url
