.diapo
  .image
    =link_to(image_tag(url_for_file_column(diapo, :document, "thumb")), {:action=>:image_detail, :id=>diapo.id})
  .title
    =link_to(image_tag('buttons/update.png'), {:action=>:image_update, :id=>diapo.id})
    =link_to(image_tag('buttons/delete.png'), {:action=>:image_delete, :id=>diapo.id}, :confirm=>confirm(:delete), :method=>:delete)

