=error_messages_for 'period'
%table.formu
  =tl "Du", text_field(:period, :begun_on)
  =tl "Au", text_field(:period, :finished_on)
  =tl "Nom de la famille", text_field(:period, :family_name)
  =tl "Adresse", text_area(:period, :address, :cols=>20, :rows=>4)
  =tl "Pays", select(:period, :country_id, Country.find(:all, :order=>:name).collect {|p| [ p.name, p.id ] })
  =tl "Téléphone", text_field(:period, :phone)
  =tl "Fax/Télécopie", text_field(:period, :fax)
  =tl "E-mail", text_field(:period, :email)
  =tl "Mobile", text_field(:period, :mobile)
  =tl "Commentaire", text_field(:period, :comment)
