<%if @person -%>
<h2>Votre compte a été activé</h2>
<p>Bienvenue <%=@person.first_name-%>,</p>
<p>Vous avez accès à la partie membre du site dès maintenant.</p>
<%else-%>
<h2>Compte déjà activé ou votre code d'activation erroné !</h2>
<p>Ce compte est peut-être déjà activé. Si votre compte a été verrouillé, une nouvelle activation ne le déverrouillera pas. Pour plus de renseignements, contactez un administrateur.</p>
<%end-%>
