%h1 Changer d'e-mail

.login
  %p Saisissez votre mot de passe et votre nouvelle adresse e-mail et validez. 
  %p Vous recevrez un e-mail dans lequel se trouvera un lien pour activer votre nouvelle adresse.

  = error_messages_for "person"

  -form_tag do
    %table.formu
      %tr
        %td.label Mot de passe
        %td.value=password_field :person, :test_password
        %td.hint
      %tr
        %td.label Ancien e-mail
        %td.value=@person.email
        %td.hint
      %tr
        %td.label E-mail
        %td.value=text_field :person, :replacement_email
        %td.hint Ex.&nbsp;: nom@domaine2.tld
      %tr
        %td{:colspan=>3, :align=>"center"}=submit_tag "Confirmer le changement d'e-mail"
