<h2>Mot de passe perdu ?</h2>

<p>Saisissez votre nom d'utilisateur et validez. Vous recevrez un nouveau mot de passe par e-mail dans la mesure où l'information qui est fournie est correcte.</p>

<%form_tag do -%>
<table class="formu">
<tr><td class="label">Nom d'utilisateur</td><td class="value"><%=text_field :person, :user_name-%></td><td class="hint">Ex.&nbsp;: monlogin</td></tr>
<tr><td colspan="3" align="center"><%=submit_tag "Envoyez-moi mon mot de passe"-%></td></tr>
</table>
<%end-%>
