-if @period
  -if session[:periods][@period.id.to_s]
    .period
      .title="Membres de la famille (#{link_to('Nouveau', :action=>:period_add_member, :id=>@period.id)})"
      %ul
        -for member in @period.members
          %li
            =link_to member.name, :action=>:member, :id=>member.id
            =' '
            =link_to(image_tag('buttons/update.png'), {:action=>:member, :id=>member.id})
            =link_to(image_tag('buttons/delete.png'), {:action=>:period_remove_member, :id=>member.id, :period=>@period.id}, :confirm=>confirm(:delete), :method=>:post)


    
