= error_messages_for "article"

%table.form
  =tl "Titre", text_field(:article, :title)
  =tl "Langue", select(:article, :language_id, Language.find(:all).collect {|p| [ p.name, p.id ] })
  =tl "Date (AAAA-MM-JJ)", text_field(:article, :done_on)
  =tl "Rubrique", select(:article, :rubric_id, Rubric.find(:all, :order=>:name).collect{|x| [x.name, x.id]})
  -if access? :publishing
    =tl "Statut", select(:article, :status, Article.status)
  =tl "Introduction", toolbar('article_intro')+text_area(:article, :intro, {:rows=>5, :maxlength=>255})
  =tl "Corps de l'article", toolbar('article_body')+text_area(:article, :body, {:rows=>11})
