= error_messages_for "article"

-#=tabbox(:articleq) do |tb|
-#  -tb.tab(:article_general)
-#  -tb.tab(:article_parameters)

%table.form
  =tl "Titre", text_field(:article, :title)
  =tl "Langue", select(:article, :language_id, Language.find(:all).collect {|p| [ p.name, p.id ] })
  =tl "Date (AAAA-MM-JJ)", text_field(:article, :done_on, :size=>10)
  =tl "Rubrique", select(:article, :rubric_id, Rubric.find(:all, :order=>:name).collect{|x| [x.name, x.id]})
  -if access? :publishing
    =tl "Statut", select(:article, :status, Article.status)
  -groups = []
  -for mn in MandateNature.find(:all, :order=>:name)
    -groups << content_tag(:div, check_box_tag("mandate_natures[#{mn.id}]", "1", @article.mandate_natures.exists?(:id=>mn.id))+" "+content_tag(:label, mn.name, :for=>"mandate_natures_#{mn.id}"), :style=>"float: left; padding: 1px 2px;")
  -groups = content_tag(:div, groups.join, :style=>"clear:both; display:#{@article.mandate_natures.empty? ? 'none' : 'block'};", :id=>"groups")
  -groups += link_to_function("Tout le monde", "this.hide(); $('groups').show()") if @article.mandate_natures.empty?
  =tl "Groupes autorisés", groups
  =tl "Introduction", toolbar('article_intro')+text_area(:article, :intro, {:rows=>5, :maxlength=>255})
  =tl "Corps de l'article", toolbar('article_body')+text_area(:article, :body, {:rows=>11})
