%h1 Tous les nouvelles de Student Exchange

.article
  .content
    -for country in @countries
      %h2=image_tag("country/#{country.iso3166.downcase}.png")+" "+country.name
      %ul
        -for promotion in country.available_promotions
          %li
            = promotion.name
            %ul
              -for author in country.available_authors(:promotion_id=>promotion.id)
                %li
                  -if author.story?
                    =link_to author.label, {:controller=>:intra, :action=>:story, :id=>author.id}
                  -else
                    = author.label
 




 
