%h1=@title
%ul.aclist
  %li=link_to "Créer un nouvel article", :action=>:new_report
=(wp=will_paginate(@articles))
=print_table :articles do |t|
  -t.datum :id
  -t.datum :title
  -t.datum(:done_on) if action_name=='agenda_articles'
  -t.datum :label, :through=>:author, :label=>'Auteur'
  -t.datum :status
  -t.datum :natures
  -t.datum :created_on, :label=>'Créé le'
  -t.action(:use=>:status, :actions=>{"P"=>:article_deactivate, "R"=>:article_activate, "U"=>:article_activate, "W"=>:article_edit, "C"=>:article_edit}, :prefix=>"article_", :method=>:post)
  -t.action :action=>:report_show, :image=>:show
  -t.action :action=>:edit_report, :image=>:edit
  -t.action :action=>:report_delete, :image=>:destroy, :method=>:post, :confirm=>'Sûr(e)?'
= wp
%p
  %strong Statut (S.)&nbsp;: 
  =Article::STATUS.sort{|x,y| x.to_s<=>y.to_s}.collect{|x| '<strong>'+x[0].to_s+'</strong>&nbsp;: '+x[1]}.join(", ")
%p
  %strong Natures&nbsp;: 
  =Article::NATURES.sort{|x,y| x.to_s<=>y.to_s}.collect{|x| '<strong>'+x[0].to_s+'</strong>&nbsp;: '+x[1]}.join(", ")

