%h1="Modifier l'article : "+h(truncate(@article.title, 56))

-form_tag do
  =render :partial=>'report_form'
  =submit_tag "Enregistrer les modifications"
  =link_to "Annuler", :back

%h2 Prévisualisation
.previsu.article=dokuwikize(@article.content_h)
