%h1 Liste des personnes mandatées

=print_table :mandates do |t|
  -t.datum :name, :through=>:nature, :label=>"Mandat"
  -t.datum :label, :through=>:person, :url=>{:action=>:people_select}, :label=>"Personne"
  -t.datum :begun_on
  -t.datum :finished_on
  -t.action :controller=>:admin, :action=>:edit_mandate, :image=>:edit
  -# t.action :action=>:mandate_delete, :image=>:destroy, :method=>:post, :confirm=>'Are you sure?'
