%h1 Envoyer un message

%div
  -form_tag({}, :multipart=>true) do
    %table.formu
      %tr
        %td.label Pays d'arrivée
        %td.value=select :mail, :arrival_id, @countries.collect{|x| [x.name, x.id]}
        %td.hint 
      %tr
        %td.label Promotion
        %td.value=select :mail, :promotion_id, @promotions.collect{|x| [x.name, x.id]}
        %td.hint 
      %tr
        %td.label Sujet
        %td.value=text_field :mail, :subject
        %td.hint 
      %tr
        %td.label Message
        %td.value=text_area :mail, :body
        %td.hint 
      %tr
        %td.label
        %td.value=submit_tag 'Envoyer le message'
        %td.hint


