%h1=@title
%ul.aclist
  %li=link_to "Créer une nouvelle personne", {:action=>:people_create}

=print_table :people do |t|
  -t.datum :id
  -t.datum :family_name
  -t.datum :first_name
  -#t.datum :user_name
  -#t.datum :born_on
  -t.datum :address
  -t.action :use=>:is_locked, :actions=>{"true"=>:people_unlock_access, "false"=>:people_lock_access}, :prefix=>"people_", :method=>:post
  -t.action :action=>:people_select, :image=>:show
  -t.action :action=>:people_update, :image=>:edit
  -t.action :action=>:people_delete, :image=>:destroy, :method=>:post, :confirm=>'Are you sure?'
= will_paginate @people

