
<%form_tag({}, :multipart=>true) do -%>
<%= error_messages_for "person"%>
<table class="formu">
<%= render :partial=>'shared/person_form'-%>
<tr><td colspan="3" align="center"><%=submit_tag "Créer la personne"-%></td></tr>
</td></tr>
</table>
<%end-%>


