%h1 Nouveau membre...

-if @members.size>0
  %h2 Utiliser un membre connu
  -form_tag do
    %table.formu
      %tr
        %td=select(:member, :id, @members.collect {|p| [ p.name, p.id ] })
        %td=submit_tag('Sélectionner')


%h2 Ajouter un nouveau membre
=render :partial=>'member_form'
