%h1=@title
=error_messages_for 'period'
-form_tag do
  %table
    %tr
      %td.label Du
      %td.value=text_field :period, :begun_on
      %td.hint 
    %tr
      %td.label Au
      %td.value=text_field :period, :finished_on
      %td.hint 
    %tr
      %td.label Nom de la famille
      %td.value=text_field :period, :family_name
      %td.hint 
    %tr
      %td.label Adresse
      %td.value=text_area :period, :address, :cols=>20, :rows=>4
      %td.hint 
    %tr
      %td.label Pays
      %td.value=select :period, :country_id, Country.find(:all, :order=>:name).collect {|p| [ p.name, p.id ] }
      %td.hint 
    %tr
      %td.label Téléphone
      %td.value=text_field :period, :phone
      %td.hint 
    %tr
      %td.label Fax/Télécopie
      %td.value=text_field :period, :fax
      %td.hint 
    %tr
      %td.label E-mail
      %td.value=text_field :period, :email
      %td.hint 
    %tr
      %td.label Mobile
      %td.value=text_field :period, :mobile
      %td.hint 
    %tr
      %td.label Commentaire
      %td.value=text_field :period, :comment
      %td.hint 
    %tr
      %td
      %td=submit_tag('Enregistrer')+' '+link_to('Annuler', :action=>:folder)
      %td
