%h1='Modifier la fiche de '+@person.label
-form_tag({}, :multipart=>true) do
  = error_messages_for "person"
  %table.formu
    = render :partial=>'shared/person_form'
  .actions=submit_tag "Modifier la personne"
