%h1=@person.first_name+" "+@person.patronymic_name

%ul.aclist
  %li=link_to 'Modifier mon compte', :action=>:profile_update, :id=>@person.id
  %li=link_to 'Changer mon mot de passe', {:controller=>:authentication, :action=>:change_password}
  %li=link_to 'Mettre à jour mon adresse e-mail', {:controller=>:authentication, :action=>:change_email}
  -#if @current_person.first_day_as_non_subscriber<=Date.today+2.month
  %li=link_to 'Payer ma cotisation', {:controller=>:store, :action=>:index}
  %li=link_to "Imprimer mes cartes de visite", {:action=>:profile, :mode=>:card}


%table.infos.formu
  %tr
    -if @person.photo
      %td{:rowspan=>6}=image_tag(url_for_file_column(@person, :photo, "thumb"))
    %td.label Adresse
    %td.value=@person.address
  %tr
    %td.label Téléphone (domicile)
    %td.value=@person.phone
  %tr
    %td.label Téléphone (travail)
    %td.value=@person.phone2
  %tr
    %td.label Téléphone (mobile)
    %td.value=@person.mobile
  %tr
    %td.label Fax/Télécopie
    %td.value=@person.fax
  %tr
    %td.label Pays d'origine
    %td.value=image_tag("country/"+@person.country.iso3166.downcase+".png")+' '+@person.country.name

-if @person.articles.size > 0
  %h2 Articles
  =dyta :person_articles

-if @person.mandates.size>0
  %h2 Mandats
  =dyta :person_mandates

-if @person.subscriptions.size>0
  %h2 Cotisations
  =dyta :person_subscriptions
