%h1=@person.first_name+" "+@person.patronymic_name+' '+image_tag("country/"+@person.country.iso3166.downcase+".png")

%ul.aclist
  %li=link_to 'Modifier mon profil', :action=>:profile_update, :id=>@person.id
  %li=link_to 'Changer mon mot de passe', {:controller=>:auth, :action=>:change_password}
  %li=link_to 'Mettre à jour mon adresse e-mail', {:controller=>:auth, :action=>:change_email}


%table.infos.formu
  %tr
    %td.label Adresse
    %td.value=@person.address
  %tr
    %td.label Téléphone (domicile)
    %td.value=@person.phone
  %tr
    %td.label Téléphone (travail)
    %td.value=@person.phone2
  %tr
    %td.label Téléphone (mobile)
    %td.value=@person.mobile
  %tr
    %td.label Fax/Télécopie
    %td.value=@person.fax
