%h1 Aide sur la mise en forme

%p La syntaxe utilisée dans les articles est très similaire à celle utilisée dans dokuwiki.

%table
  - for sample in @samples
    %tr
      %td.sample
        %pre=sample
      %td.result=dokuwikize(sample)
