%h1 Aide sur la mise en forme

%p La syntaxe utilisée dans les articles est très similaire à celle utilisée dans dokuwiki.

%table
  %tr
    %td.sample un texte en **gras**, en //italique//, en __souligné__ ou en ''monospace''.
    %td un texte en <strong>gras</strong>, en <em>italique</em>, en <em class="u">souligné</em> ou en <code>monospace</code>.
  %tr
    %td.sample ===== Titre de niveau 2 =====
    %td 
      %h2 Titre de niveau 2
%p À venir...
