<h1>Mon journal de bord</h1>
<%=link_to "Créer un nouvel article", :action=>:new_report-%>
<div class="article-list">
<%for article in @articles %>
<div class="article-item"><div class="article-ext"><h2><%=h article.title%></h2> <%=article.html_summary-%></div><div class="article-act"><%=image_tag "country/"+article.language.iso639.downcase+".png"-%> <span class="separator">&bull;</span> Créé&nbsp;le <%=article.created_at.to_formatted_s :default %> <span class="separator">&bull;</span> Mis&nbsp;à&nbsp;jour&nbsp;le <%=article.updated_at.to_formatted_s :default %> <span class="separator">&bull;</span> <%=link_to "Lire tout l'article", :action=>:show_report, :id=>article-%> <span class="separator">&bull;</span> <%=link_to "Modifier", :action=>:edit_report, :id=>article-%></div></div>
<%end%>
</div>
