<%=link_to "Modifier l'article", :action=>:edit_report, :id=>@article%>

<h1><%=@article.title_h%></h1> 
<%=@article.intro_h%>
<%=@article.content_h-%>
<%=link_to "Retour à liste des articles", :back%>

