%h1=@article.title_h
%ul.aclist
  -if (!@article.locked? and @article.author_id==@current_person.id) or @current_person.can_manage? :publishing
    %li=link_to "Modifier l'article", :action=>:edit_report, :id=>@article

.content=@article.content_h

.details
  =@article.author.label
  &bull;
  =@article.updated_at.to_formatted_s :long
