%h1 Mon journal

-cache(:controller=>:intra, :action=>:story, :id=>@folder.id) do
  .toc
    %h3 Table des matières
    %ul
      -for report in @reports
        %li=link_to report.title, '#'+report.id.to_s
  .article
    -for report in @reports
      %a{:name=>report.id}
      %h1.subtitle=report.title
      .content=dokuwikize(report.content)
    .author='Par '+@folder.person.label
  
