%h1 Gérer les zones géographiques
.path
  -for parent in @parents
    =link_to parent.name, :action=>:zones_create, :id=>parent.id
    &raquo;
  &bull;


-form_tag do
  =error_messages_for 'zone'
  %table
    %tr
      %td Nom
      %td=text_field :zone, :name
      %td Numéro
      %td=text_field :zone, :number
      %td Pays
      %td=select :zone, :country_id, Country.find(:all, :order=>:name).collect {|p| [ p.name, p.id ] }
      %td=submit_tag 'Créer la zone'


.futo 
  %table.list
    %tr
      %th Nom
      %th Numéro
      %th Pays
    -for zone in @zones
      %tr
        %td=link_to(zone.name, :action=>:zones_create, :id=>zone.id)
        %td=zone.number
        %td=image_tag("country/#{zone.country.iso3166.downcase}.png")+" "+zone.country.name if zone.country

