=error_messages_for 'member'

=hidden_field_tag(:redirect, params[:redirect])
%table.formu
  =tl "Nature", select(:member, :nature, [['Humain', 'human'], ['Chien', 'dog'], ['Chat', 'cat']]) 
  =tl "Sexe", select(:member, :sex, [['Masculin', 'm'], ['Féminin', 'f']]) 
  =tl "Nom", text_field(:member, :last_name) 
  =tl "Prénom", text_field(:member, :first_name) 
  =tl "Téléphone", text_field(:member, :phone) 
  =tl "Fax/Télécopie", text_field(:member, :fax) 
  =tl "E-mail", text_field(:member, :email) 
  =tl "Mobile", text_field(:member, :mobile) 
  =tl "Commentaire", text_field(:member, :comment) 
