=simple_fields_for @person do |f|
  =fieldset :identity do
    =f.input :patronymic_name, :required=>true
    =f.input :family_name
    =f.input :first_name, :required=>true
    =f.input :second_name
    =f.input :sex, :collection => [['Homme', 'h'], ['Femme', 'f']], :as => :radio
    =f.input :born_on, :start_year => Date.today.year - 100, :end_year => Date.today.year - 12, :order => [:day, :month, :year]
    =f.input :birth_country, :collection => countries, :as => :select
    =f.input :photo
  =fieldset :account do
    =f.input :user_name
    =f.input :password
    =f.input :password_confirmation
