%table.infos.formu
  %tr
    %td.label E-mail
    %td.value=mail_to @person.email
  %tr
    %td.label Pays de naissance
    %td.value=country(@person.birth_country)
  %tr
    %td.label Sexe
    %td.value=@person.sex
  %tr
    %td.label Date de naissance
    %td.value=I18n.localize(@person.born_on)

%h2 Articles
=list :articles

%h2 Mandats
=list :mandates
