%h1 Produits

%ul.aclist
  %li=link_to "Ajouter un produit", new_product_url
  %li=link_to "Recalculer les stocks", check_products_url, :method=>:post

%h2 Produits utilisables

%ul
  -for product in Product.usable
    %li=render :partial=>"product", :object=>product

%h2 Produits hors-service
%ul
  -for product in Product.unusable
    %li=render :partial=>"product", :object=>product
