%h1
  =@rubric.name
  -if access? :publishing
    %em="["+@rubric.code+"]"
.description=@rubric.description
-if access? :publishing
  -if parent = @rubric.parent
    .parent="A pour rubrique parente "+link_to(parent.name, rubric_url(parent))
  %ul.aclist
    %li=link_to "Modifier", edit_rubric_url(@rubric)
  %h2 Articles de la rubrique

=dyta(:rubric_articles)
