%h1 Tous les pays

%ul.aclist
  %li=link_to "Ajouter un pays", new_country_url

%ul.index
  -for country in Country.find(:all, :order=>:name, :include=>:language)
    %li
      %h3
        =image_tag("country/#{country.iso3166.lower}.png")
        =country.name
        =" (#{country.native_name})" unless country.native_name.blank?
      .dsc="#{country.iso3166}, langue : #{country.language.name}"
      .dsc
        =link_to("Modifier", edit_country_url(country), :class=>"icon im-edit")
        =" &bull; "
        =link_to("Supprimer", country_url(country), :method=>:delete, :confirm=>"Are you sure?", :class=>"icon im-destroy")
