%h1 Ajouter une nouvelle personne

= error_messages_for "person"

-form_tag({}, :multipart=>true) do
  %table.formu
    = render :partial=>'shared/person_form'
    %tr
  .actions=submit_tag "Créer la personne"

