%h1='Réponses au questionnaire&nbsp;: '+@questionnaire.name

-for answer in @answers
  %h2
    =answer.person.label
    =link_to("Déverrouiller la réponse", {:action=>:answer_unlock, :id=>answer.id}, :method=>:post, :confirm=>"Etes-vous sûr(e)?")
  -for item in answer.items
    %h3=item.question.name
    %p=item.content
  
