%h1=@questionnaire.name

%p=dokuwikize(@questionnaire.intro)

-form_tag do
  -for @question in @questions
    .question
      %h3=@question.position.to_s+". "+@question.name
      %p=dokuwikize(@question.explanation)
      =text_area "question[]", "answer", :rows=>4, :readonly=>(@readonly ? true : false)
  -unless @readonly
    .submits
      =submit_tag 'Enregistrer', :name=>"save"
      =submit_tag 'Enregistrer et soumettre au YEO', :name=>"save_and_ready"
