%h1="Questionnaire "+@questionnaire.name

=error_messages_for 'questionnaire'
-form_tag do 
  %table.formu
    =tr "Nom", text_field(:questionnaire, :name)
    =tr "Lancé le", text_field(:questionnaire, :started_on), "C'est la date à partir de laquelle les students pourront renseigner le questionnaire"
    =tr "Arrêté le", text_field(:questionnaire, :stopped_on), "C'est la date jusqu'à laquelle les students pourront renseigner le questionnaire"
    =tr "Introduction", text_area(:questionnaire, :intro, :rows=>3, :cols=>60), "Texte apparaissant en haut du questionnaire lors de la saisie"
    =tr "Commentaire", text_area(:questionnaire, :comment, :rows=>3, :cols=>60), "Commentaire interne"
    =tr "", submit_tag("Enregistrer les modifications")

-unless @questionnaire.new_record?
  %h2 Questions
  -unless @questionnaire.active
    %fieldset
      %legend Ajouter une question
      -form_remote_tag(:url=>{:action=>:question}, :method=>:post, :update=>'questionnaire_questions', :loaded=>"$('question_name').value=''; $('question_explanation').value=''; $('question_name').focus();") do
        =render :partial=>'question_form'
  =dyta(:questionnaire_questions)

  %h2 État des réponses
  =dyta(:questionnaire_answers)

  %h2 Absences de réponse
  %ul.aclist
    %li=link_to "Envoyer un mail aux absents", {:action=>:absents_wake_up, :id=>@questionnaire.id}, :method=>:post
  =dyta(:questionnaire_students)
