.menu
  %ul
    %li=link_to((@current_person.nil? ? "Accueil" : @current_person.label).to_s, {:controller=>:suivi, :action=>:index})
    - if @current_person
      -if access? :suivi
        %li=link_to "Questionnaires", questionnaires_url
        %li=link_to "Thèmes", themes_url
      %li=link_to "Se déconnecter", {:controller=>:authentication, :action=>:logout }
