%td.submenu{:valign=>"top"}
  .label=@current_person.label
  %h3 Menu
  %ul
    %li=link_to 'Mon profil', {:controller=>:intra, :action=>:profile}
    %li=link_to 'Mon voyage', {:controller=>:intra, :action=>:folder}
    %li=link_to 'Mes articles', {:controller=>:intra, :action=>:reporting}
    %li=link_to 'Se déconnecter', {:controller=>:auth, :action=>:logout}
  -if @current_person.can_manage?(:all)
    %h3 Administration
    %ul
      %li=link_to('Admin (Mode Expert)', {:controller=>:admin, :action=>:index})
      %li=link_to('Gérer les zones', {:controller=>:intra, :action=>:zones_create})
      %li=link_to('Création District', {:controller=>:admin, :action=>:new_zone})
      %li=link_to('Création Club', {:controller=>:admin, :action=>:new_zone})
  -if @current_person.can_manage? [:publishing,:specials,:home,:agenda]
    %h3 Publication
    %ul
      -if @current_person.can_manage? :publishing
        %li=link_to('Articles (tous)', {:controller=>:intra, :action=>:articles})
        %li=link_to('Articles en attente', {:controller=>:intra, :action=>:waiting_articles})
      -if @current_person.can_manage? :specials
        %li=link_to('Articles <em>spéciaux</em>', {:controller=>:intra, :action=>:special_articles})
      -if @current_person.can_manage? :agenda
        %li=link_to('Articles <em>Agenda</em>', {:controller=>:intra, :action=>:agenda_articles})
      -if @current_person.can_manage? :home
        %li=link_to('Articles <em>Page d\'accueil</em>', {:controller=>:intra, :action=>:home_articles})
      -if @current_person.can_manage? :publishing
        %li=link_to('Articles <em>Extraits</em>', {:controller=>:intra, :action=>:blog_articles})
        %li=link_to('Articles restants', {:controller=>:intra, :action=>:other_articles})
  -if @current_person.can_manage? [:users,:subscribing]
    %h3 Gestion des personnes
    %ul
      -if @current_person.can_manage? :users
        %li=link_to('Personnes (toutes)', {:controller=>:intra, :action=>:people_browse})
      -if @current_person.can_manage? :subscribing
        %li=link_to('Adhérents', {:controller=>:intra, :action=>:subscribers})
        %li=link_to('Non-adhérents', {:controller=>:intra, :action=>:non_subscribers})
        %li=link_to('Futurs non-adhérents', {:controller=>:intra, :action=>:new_non_subscribers})
  -if @action=='intra:profile'
    %h3 Mes infos
    %ul
      %li=link_to 'Changer mon mot de passe', {:controller=>:auth, :action=>:change_password}
      %li=link_to 'Mettre à jour mon adresse e-mail', {:controller=>:auth, :action=>:change_email}
  .subend
