.menu
  %ul
    %li=link_to((@current_person.nil? ? "Accueil" : @current_person.label).to_s, {:controller=>:suivi, :action=>:index})
    - if @current_person
      %li=link_to "Questionnaires", {:controller=>:suivi, :action=>:questionnaires}
      %li=link_to "Se déconnecter", {:controller=>:authentication, :action=>:logout }
