- form_tag({}, {:id=>@options[:id]}) do
  =render :partial=>@partial
  .actions
    =submit_tag(::I18n.t("general."+(@options[:submit]||:update).to_s))
    -#=link_to_back :label=>@options[:cancel]||:cancel

