%h1=@person.label

%table.infos.formu
  %tr
    %td.label Adresse
    %td.value=@person.address
  %tr
    %td.label Téléphone (domicile)
    %td.value=@person.phone
  %tr
    %td.label Téléphone (travail)
    %td.value=@person.phone2
  %tr
    %td.label Téléphone (mobile)
    %td.value=@person.mobile
  %tr
    %td.label Fax/Télécopie
    %td.value=@person.fax
  %tr
    %td.label E-mail
    %td.value=mail_to @person.email
  %tr
    %td.label Pays d'origine
    %td.value=image_tag("country/"+@person.country.iso3166.downcase+".png")+' '+@person.country.name
  %tr
    %td.label Sexe
    %td.value=@person.sex
  %tr
    %td.label Date de naissance
    %td.value=@person.born_on
  %tr
    %td.label Voyage
    %td.value=link_to('Voir le récit du voyage', :action=>:story, :id=>@person.id) if @person.promotion
  %tr
    %td.label Dossier complet
    %td.value=link_to('Consulter', :action=>:folder, :id=>@person.id) if @person.promotion

%h2 Cotisations
-if access? :subscribing
  %ul.aclist
    %li=link_to "Ajouter une cotisation", {:action=>:subscription_create, :id=>@person.id}
=print_table :subscriptions do |t|
  -t.datum :number
  -t.datum :begun_on
  -t.datum :finished_on
  -# t.datum :amount
  -# t.datum :payment_mode_label
  -# t.datum :state_label
  -# t.action :action=>:destroy, :controller=>:subscriptions, :method=>:delete, :confirm=>'Are you sure?' if access? :subscribing

%h2 Articles
=print_table :articles do |t|
  -t.datum :title
  -t.datum :done_on
  -t.datum :name, :through=>:rubric, :label=>"Rubrique"
  -t.action :action=>:article_update, :image=>:edit if access? :publishing

%h2 Mandats
-if access?
  %ul.aclist
    %li=link_to "Ajouter un mandat",{:action=>:mandates_create, :id=>@person.id}
=print_table :mandates do |t|
  -t.datum :begun_on
  -t.datum :finished_on
  -t.datum :name, :through=>:nature
  -# t.action :controller=>:admin, :action=>:edit_mandate, :image=>:edit if access?
  -t.action :action=>:mandates_delete, :image=>:destroy, :method=>:post, :confirm=>'Are you sure?' if access?
