-if @agenda.size>0 or @blog.size>0
  .right_menu
    -if @agenda.size>0
      .frame.agenda
        %h3 Agenda
        %table
          -for article in @agenda
            %tr{:class=>cycle('odd','even')}
              %td.date=I18n.localize(article.done_on)
              %td.title=link_to(article.title, {:controller=>:home, :action=>:article, :id=>article.id})
    -if @agenda.size>0 and @blog.size>0
      .separator
    -if @blog.size>0
      .frame.blog
        %h3 Extraits aléatoires
        -for article in @blog
          -cache({:controller=>:home, :action=>:article_extract, :id=>article.id}) do
            .extract
              %h4=article.title
              .content=dokuwikize(article.intro)+link_to('Lire la suite', {:controller=>:intra, :action=>:report_show, :id=>article})

-for @article in @articles
  =render :partial=>'shared/article'
= will_paginate @articles

