-@admin = (@current_person ? access?(:all) : false)
-zone_nature = ZoneNature.find(:first, :conditions=>["LOWER(name) LIKE 'club'"])
-zones = Zone.find(:all, :select=>"co.name||' - '||district.name||' - '||zones.name AS long_name, zones.id AS zid", :joins=>" join zones as zse on (zones.parent_id=zse.id) join zones as district on (zse.parent_id=district.id) join countries AS co ON (zones.country_id=co.id)", :conditions=>["zones.nature_id=?", zone_nature.id], :order=>"co.iso3166, district.name, zones.name").collect {|p| [ p[:long_name], p[:zid].to_i ] }||[]

= error_messages_for "person"

%table.formu
  -if @admin or @self_subscribing
    =tt "Identité"
    =tl "Nom de naissance", text_field(:person, :patronymic_name), :hint=>"Ex.&nbsp;: MARTIN"
    =tl "Nom de famille", text_field(:person, :family_name)
    =tl "Prénom", text_field(:person, :first_name), :hint=>"Ex.&nbsp;: Jean"
    =tl "Deuxième prénom", text_field(:person, :second_name)
    =tl "Sexe", select(:person, :sex, [['Homme','h'],['Femme','f']])
    =tl "Date de naissance", date_select(:person, :born_on, {:order => [:day, :month, :year], :start_year=>1901})
    =tl "Pays de naissance", select(:person, :country_id, Country.find(:all, :order=>:name).collect {|p| [ p.name, p.id ] })
    =tl "Student Exchange", check_box(:person, :student)
    =# tl "Mon club est", select(:person, :proposer_zone_id, zones)
  -else
    =tt "Coordonnées"
  =tl "Photo", file_column_field("person", "photo"), :hint=>"Photo qui apparait sur la carte de visite. PNG ou JPEG seulement !"
  =tl "Adresse", text_area(:person, :address, :cols=>20, :rows=>4), :hint=>"Ex.&nbsp;:<br/> 17 rue de la Révolution<br/>33000 BORDEAUX"
  =tl "Téléphone (domicile)", text_field(:person, :phone)
  =tl "Mobile", text_field(:person, :mobile)
  =tl "Téléphone (travail)", text_field(:person, :phone2)
  =tl "Fax", text_field(:person, :fax)
  
  =tt "Compte"
  -if @self_subscribing or @admin
    =tl "E-mail", text_field(:person, :email)
  =tl "Nom d'utilisateur", text_field(:person, :user_name), :hint=>"Seuls les caractères en minuscule non accentués ainsi que les chiffres sont autorisés pour composer le nom d'utilisateur"
  -if @self_subscribing or @admin
    =tl "Mot de passe", password_field(:person, :password)
    =tl "Confirmation du mot de passe", password_field(:person, :password_confirmation)
  -if @self_subscribing
    %tr=show_simple_captcha :object => 'person', :image_style=>'random', :distortion=>'medium', :label=>"Recopiez le code"
    %tr
      %td{:colspan=>"3", :align=>:center}
        =check_box :person, :terms_of_use
        %label{:for=>'person_terms_of_use'} J'accepte les termes d'utilisation du site Rotex1690.org
