-if @register
  %h1="S'inscrire sur les sites membres.rotary1690.org, student-exchange.rotary1690.org et www.rotex1690.org"

  -form_tag({}, :multipart=>true) do
    =render :partial=>"people/form"
    .action
      =submit_tag "Valider l'inscription"
      =link_to("Annuler", root_url)

-else
  %h1 Votre inscription est en passe d'être validée
  %p Un e-mail vous a été envoyé. Dès que vous aurez activé votre compte en cliquant sur lien qui vous sera donné, vous aurez accès à la partie membre dès que le trésorier aura enregistré votre cotisation.
  %p Vous disposez de <em>24 heures pour activer votre compte</em>. Un fois ce délai passé, vous devrez vous réinscrire.

