-@admin = (@current_person ? access?(:all) : false)
-zone_nature = ZoneNature.find(:first, :conditions=>["LOWER(name) LIKE 'club'"])
-zones = Zone.find(:all, :select=>"co.name||' - '||district.name||' - '||zones.name AS long_name, zones.id AS zid", :joins=>" join zones as zse on (zones.parent_id=zse.id) join zones as district on (zse.parent_id=district.id) join countries AS co ON (zones.country_id=co.id)", :conditions=>["zones.nature_id=?", zone_nature.id], :order=>"co.iso3166, district.name, zones.name").collect {|p| [ p[:long_name], p[:zid].to_i ] }||[]

-if @admin or @self_subscribing
  %tr
    %th{:colspan=>"3"} Identité
  %tr
    %td.label Nom de naissance
    %td.value=text_field :person, :patronymic_name
    %td.hint Ex.&nbsp;: MARTIN
  %tr
    %td.label Nom de famille
    %td.value=text_field :person, :family_name
    %td.hint 
  %tr
    %td.label Prénom
    %td.value=text_field :person, :first_name
    %td.hint Ex.&nbsp;: Jean
  %tr
    %td.label Deuxième prénom
    %td.value=text_field :person, :second_name
    %td.hint 
  %tr
    %td.label Sexe
    %td.value=select :person, :sex, [['Homme','h'],['Femme','f']] 
    %td.hint 
  %tr
    %td.label Date de naissance
    %td.value=date_select :person, :born_on, {:order => [:day, :month, :year], :start_year=>1901}
    %td.hint 
  %tr
    %td.label Pays de naissance
    %td.value=select :person, :country_id, Country.find(:all, :order=>:name).collect {|p| [ p.name, p.id ] }
    %td.hint 
  %tr
    %td.label Student Exchange
    %td.value=check_box :person, :student
    %td.hint 
  %tr
    %td.label=#Mon club est
    %td.value=#select :person, :proposer_zone_id, zones
    %td.hint 
-else
  %tr
    %th{:colspan=>"3"} Coordonnées
%tr
  %td.label Photo
  %td.value=file_column_field "person", "photo"
  %td.hint Photo qui apparait sur la carte de visite. PNG ou JPEG seulement !
%tr
  %td.label Adresse
  %td.value=text_area :person, :address, :cols=>20, :rows=>4
  %td.hint Ex.&nbsp;:<br/> 17 rue de la Révolution<br/>33000 BORDEAUX
%tr
  %td.label Téléphone (domicile)
  %td.value=text_field :person, :phone
  %td.hint 
%tr
  %td.label Mobile
  %td.value=text_field :person, :mobile
  %td.hint 
%tr
  %td.label Téléphone (travail)
  %td.value=text_field :person, :phone2
  %td.hint 
%tr
  %td.label Fax
  %td.value=text_field :person, :fax
  %td.hint

%tr
  %th{:colspan=>"3"} Compte
-if @self_subscribing or @admin
  %tr
    %td.label E-mail
    %td.value=text_field :person, :email
    %td.hint 
-if not @self_subscribing
  %tr
    %td.label E-mail
    %td.value=link_to("Changer d'e-mail", change_email_myself_url, :confirm=>"Attention vos modifications ne sont pas enregistrées. Cliquez sur OK si vous souhaitez quand même continuer.")
    %td.hint 
  
%tr
  %td.label Nom d'utilisateur
  %td.value=text_field :person, :user_name
  %td.hint Seuls les caractères en minuscule non accentués ainsi que les chiffres sont autorisés pour composer le nom d'utilisateur
-if @self_subscribing or @admin
  %tr
    %td.label Mot de passe
    %td.value=password_field :person, :password
    %td.hint 
  %tr
    %td.label Confirmation du mot de passe
    %td.value=password_field :person, :password_confirmation
    %td.hint 
-if @self_subscribing
  %tr
    =show_simple_captcha :object => 'person', :image_style=>'random', :distortion=>'medium', :label=>"Recopiez le code"
    %td.hint
  %tr
    %td{:colspan=>"3", :align=>:center}
      =check_box :person, :terms_of_use
      %label{:for=>'person_terms_of_use'} J'accepte les termes d'utilisation du site Rotex1690.org

