%h1=@person.first_name+" "+@person.family_name

%ul.aclist
  %li=link_to 'Modifier mon compte', edit_myself_url
  %li=link_to 'Changer mon mot de passe', change_password_myself_url
  %li=link_to 'Mettre à jour mon adresse e-mail', change_email_myself_url


%table.infos.formu
  %tr
    %td{:rowspan=>8}
      -link_to edit_myself_url do
        -if @person.photo
          =image_tag(url_for_file_column(@person, :photo, "thumb"))
        -else
          ="Mettre ma photo"
    %td.label Adresse
    %td.value=@person.address
  %tr
    %td.label Téléphone (domicile)
    %td.value=@person.phone
  %tr
    %td.label Téléphone (travail)
    %td.value=@person.phone2
  %tr
    %td.label Téléphone (mobile)
    %td.value=@person.mobile
  %tr
    %td.label Fax/Télécopie
    %td.value=@person.fax
  %tr
    %td.label Adresse E-mail Rotex
    %td.value=@person.rotex_email
  %tr
    %td.label Adresse E-mail
    %td.value=@person.email
  %tr
    %td.label Pays d'origine
    %td.value=image_tag("country/"+@person.country.iso3166.downcase+".png")+' '+@person.country.name

-if @person.mandates.size>0
  %h2 Mandats
  =dyta :person_mandates
