%h1 Articles

%ul.aclist
  %li=link_to "Créer un nouvel article", new_article_url

.search{:style=>"display: none"}
  -form_tag do
    %nobr
      ="État"
      =select(:article, :status, Article.status, :include_blank=>true)
    %nobr
      ="Auteur"
      =select(:article, :author_id, Article.authors, :include_blank=>true)
    %nobr
      ="Rubrique"
      =select(:article, :rubric_id, Rubric.find(:all, :order=>:name).collect{|x| [x.name, x.id]}, :include_blank=>true)
    =submit_tag("Filtrer")

=dyta(:articles)

