.menu
  %ul
    %li=link_to "Accueil", {:controller=>:home}
    -unless @current_person
      %li=link_to "Espace Membres", myself_url
    %li=link_to "Achat en ligne", new_sale_url
    %li=link_to "Contact", {:controller=>:home, :action=>:special, :id=>:contact}
    %li=link_to "À propos de nous", {:controller=>:home, :action=>:special, :id=>:about}
    %li=link_to "Mentions légales", {:controller=>:home, :action=>:special, :id=>:legals}
    %li=link_to "Aide", {:controller=>:home, :action=>:special, :id=>:help}
