-if @title
  %h1=@title
- form_tag({:action=>:create}, {:id=>@_options[:id]}) do
  =render :partial=>@_partial
  .actions
    =submit_tag(::I18n.t("general."+(@_options[:submit]||:create).to_s))
    -#=link_to_back :label=>@_options[:cancel]||:cancel

