= error_messages_for "person"
%table.formu
  %tr
    %td.label Du
    %td.value=date_select :person, :started_on, {:order => [:day, :month, :year], :start_year=>1901}
    %td.hint 
  %tr
    %td.label Au
    %td.value=date_select :person, :stopped_on, {:order => [:day, :month, :year], :start_year=>1901}
    %td.hint 
  -#%tr
  -#  %td.label Pays de départ
  -#  %td.value=select :person, :departure_country_id, Country.find(:all, :order=>:name).collect {|p| [ p.name, p.id ] }
  -#  %td.hint 
  -#%tr
  -#  %td.label Pays d'arrivée
  -#  %td.value=select :person, :arrival_country_id, Country.find(:all, :order=>:name).collect {|p| [ p.name, p.id ] }
  -#  %td.hint 
  -#%tr
  -#  %td.label Promotion
  -#  %td.value=select :person, :promotion_id, Promotion.find(:all, :order=>:name).collect {|p| [ p.name, p.id ] }
  -#  %td.hint 
  %tr
    %td.label Club d'origine
    %td.value=select :person, :proposer_zone_id, @zones
    %td.hint 
  %tr
    %td.label Club sponsor
    %td.value=select :person, :sponsor_zone_id, @zones
    %td.hint 
  %tr
    %td.label Club hôte
    %td.value=select :person, :host_zone_id, @zones
    %td.hint 
  %tr
    %td.label Commentaire
    %td.value=text_area :person, :comment, :cols=>20, :rows=>4
    %td.hint
