%h1 Mon journal

-cache(:controller=>:people, :action=>:story, :id=>@author.id) do
  .toc
    %h3 Table des matières
    %ul
      -for report in @reports
        %li=link_to report.title, '#'+report.id.to_s
  .article
    -for report in @reports
      -if report.author_id==@current_person.id or access?(:publishing) or report.published?
        %a{:name=>report.id}
        %h1.subtitle
          =report.title
          =" "
          =link_to(image_tag('buttons/update2.png'), edit_article_url(report)) if access?(:publishing) or (report.author_id==@current_person.id and not report.published?)
        .content=dokuwikize(report.content)
        .author="Par #{@author.label}"
  
