* {padding:0; margin:0; }
h1,h2,h3,p,div,li,td,th,a,span,input,select { color:#def; font-family: arial, sans-serif; }
span,p,a,div,ul,li,input,select {font-size:12px;}
textarea { font-family: monospace; font-size:12px; }

/* HTMLIZE */
span.u{ text-decoration: underline; }
span.e{ color: #D30; }
code{ font-family: monospace; }
div.im { border: 1px solid #56A;width:128px;}
div.im.c { margin: 0 auto;}
div.im.l { float: left;  margin:0 4px 0 0;}
div.im.r { float: right; margin:0 0 0 4px;}
/* HTMLIZE */

ul {padding-left: 20px;}
body { background:#0567ff;}
.column {margin-left:auto; margin-right:auto; width:990px;}
.column > div {margin-left:auto; margin-right:auto; width:774px;}
#header {background: url(../images/background_header.png) no-repeat top center; height:194px;}
#header .menu { text-align:center; position:relative; top:170px; }
#menu   {background: url(../images/background_bodier.png) repeat-y top center;}
#menu > div {text-align: center;}
#bodier {background: url(../images/background_bodier.png) repeat-y top center;}
#footer {background: url(../images/background_footer.png) no-repeat bottom center; height:160px; text-align:center; }
#bodier > div > div {padding:0px 2px;}
#footer > div { padding:20px; color: #BDF;}
#mainbody {padding: 0 1px; }
input[type="submit"] {background: transparent; border:none; display:block; cursor:pointer; padding: 8px;}
a:link, input[type="submit"] { color : white; text-decoration:underline; font-size: 12px;}
a:visited { color : white;}
a:hover, input[type="submit"]:hover { text-decoration:none;}
a img { border: 0 solid blue;}

table.formu {margin-left:auto; margin-right:auto;}
.formu th {padding: 10px 4px 4px; color: white; border-bottom: 2px solid white;}
td.label { text-align:right; padding :1px 4px;}
td.hint {color: #BCF; font-style:italic; padding: 1px 4px;}

#notice  {border:none; background: #CF9; color: #180; text-align:center; padding : 8px;}
#warning {border:none; background: #FB7; color: #D50; text-align:center; padding : 8px;}
#error   {border:none; background: #F98; color: #E00; text-align:center; padding : 8px;}

.menu { background : url(../images/background_menu.png) repeat-y top center;}
.menu ul { padding: 5px 1px; }
.menu ul li{ display: inline; }
.menu ul li a{ padding: 3px; color: #0567ff; border : 1px solid transparent;}
.menu ul li a:hover{ background: #CDF; border : 1px solid #0567ff; text-decoration : none; }
.menu ul li a.current_action { background: #F98; border : 1px solid #C22; text-decoration : none; height : 29px; color: #C22;}

#maintable {border-collapse: collapse; width:772px; margin-left: 1px;}
/*#maintable td {vertical-align : top;}*/
/*#maintable .submenu {width : 160px; background: url(../images/background_submenus.png) repeat-y top left; padding:0px; margin:0px; border:none;}*/
#maintable .submenu {width : 160px; padding:0px; margin:0px; border:none;}
#maintable .submenu h3 {padding:3px; background: url(../images/background_subtitle.png) repeat-y top left; font-size: 13px; text-align:center; color: #04E;}
#maintable .submenu ul {padding:1px;background: url(../images/background_submenu.png) repeat-y top left;}
#maintable .submenu ul li {list-style-type:none;}
#maintable .submenu ul li a {padding: 2px; border : 1px solid transparent; display:block;}
#maintable .submenu ul li a:hover{color: #0567ff; background: #CDF; border : 1px solid #0567ff; text-decoration : none; }
#maintable .submenu .label {padding:2px 4px; color: #F33; background: #FFF;} /*background: url(../images/background_submenu.png) repeat-y top left; }*/
#maintable .subbody {padding:4px;}
#maintable .subend {background: url(../images/background_subend.png) repeat-y top left; height:2px;}

.article {padding: 4px; margin-bottom: 12px;}
.article h2 {color: #FD7;}
.article .author {color: #8AF;}

/*Jaune rotex #f0d15a*/

#title h1{
  text-align: center;
  color: #f2d25c;
  font-variant: small-caps ;
  margin: 12px;
}

#main {
  border-collapse: collapse;
}

.menu_right {
  width: 140px;
}

table.form {
  width:100%;
}

p {
  text-align : justify;
  text-indent : 0em;
  padding : 3px 0px;
}
input[type="password"], input[type="text"], select {
  font-family : sans-serif;
}

textarea, input[type="password"], input[type="text"], select {
  border : 1px solid #55F;
  background : white;
  color : #00A;
}

textarea, input[type="password"], input[type="text"]{
  width:100%;
}

.invalid {
  border : 1px solid #A00 !important;//#2e558a;
  background : #FBA !important;
  color : #A00 !important;
}

.article-item {
  margin: 5px 0px 10px 0px;
}

.article-ext {
  padding : 6px 10px;
  -moz-border-radius-topleft : 10px;
  -moz-border-radius-topright : 10px;
  background: #007;
}

.article-ext h2{
  margin : 0px 0px 4px 0px;
  font-size : 120%;
  color : #BBE;
}  


.article-act {
  padding : 6px 10px;
  -moz-border-radius-bottomleft : 10px;
  -moz-border-radius-bottomright : 10px;
  background: #128;
}

span.separator {
  color :#Da3;
  padding : 0 5px;
}

#errorExplanation { background : #B32; padding : 5px; margin: 20px; border : 2px solid white;}
#errorExplanation h2 { margin : 1px 3px; }
#errorExplanation ul {padding : 2px 20px; list-style-type :square;}



h2.futo {margin:0; padding:16px 4px 4px 4px;}
div.futo {padding:4px 2px; }
div.futo h3 {padding:4px;color: #139; }
div.futo > div {padding:4px;}
div.futo div.menu {background: #68E; margin:0px; padding:4px; color:#DDF;}
/*div.futo li {list-style-type: none; padding:4px;  margin:0px;}*/
div.futo div.menu a, div.futo div.menu a:link, div.futo div.menu a:visited, div.futo div.menu a:hover {color: white;}
div.futo table.list {border-collapse:collapse; margin: 1px; background: #EFE; width:590px;}
div.futo table.list th, table.formu th, #scaffolded th {background: #8AE; padding:4px; color: #002; border: 1px solid #55A;}
div.futo table.list tr.odd  td {background: #E1E6FF;}
div.futo table.list tr.even td {background: #F0F2FF;}
div.futo table.list tr td {padding: 1px 3px;color: #007;border: 1px solid #AAD; vertical-align:center;}
div.futo table.list tr td.act {background: #FDD; width:16px;border: 1px solid #DAA;}
div.futo table.list a {color: #14A;}

#scaffolded {border-collapse:collapse; margin: 1px; background: #EFE; width:590px;}
#scaffolded tr td {padding: 1px 3px;color: #007;border: 1px solid #AAD; vertical-align:center;}
#scaffolded tr td input {color:#007}

div.pagination {text-align:center; padding:8px;}
div.pagination * {padding:2px 3px; font-size:13px; border:1px solid #9AC; background: #EEF; color:#9AC;}
div.pagination a:link, div.pagination a:visited { text-decoration:none; color: #12F;}
div.pagination a:hover {border:1px solid #12F; background: #DDF; color: #AAA; text-decoration:none;}
div.pagination span.current {font-weight:bold; color: #D30; border:1px solid #D30; background: #FED;}
div.pagination .disabled {display:none;}

div.right_menu { float:right; margin: 0px 0px 4px 8px; width:252px}

div.right_menu > div.separator {margin: 10px 0px;}

div.right_menu > div.frame {border: 1px solid #EEF;}
div.right_menu > div.frame > h3 {background:#EEF; color: #0567ff; text-align:center; padding:2px;}


div.agenda > table {border-collapse:collapse; width: 250px;}
div.agenda > table td {padding:2px 4px;}
div.agenda > table td.date {text-align:center; font-weight:bold;}
div.agenda tr.odd  td {background: url(../images/background_subtitle.png) repeat-y top left;}
div.agenda tr.even td {background: url(../images/background_submenu.png) repeat-y top left;}

div.blog > div > h4 {background: #F55; color:#FFF; padding:2px; text-align:center;}
div.blog > div > div {background: #F88; color:#FFF; padding: 2px;}
div.blog > div > div * {color:#FFF;}

.content { margin: 16px 0px; }
.content img { margin: 2px 4px; }
.content div.align.right { float:right; }
.content div.align.left { float:left; }
.content div.align.center { text-align:center; }


.period { padding: 4px; background: url(../images/background_submenu.png) repeat-y top right; margin: 0 0 8px;}

.diapo { padding:2px; float:left; margin: 4px; border:1px solid #777; background: white; }
.diapo .image { height:128px; width: 128px; margin:4px; }
.diapo .title { color: #777; padding:4px;}

.diapo:hover { margin: 2px; border-width: 3px; border-color: black; }