%h1 Changer de mot de passe

.login
  %p Saisissez vos mots de passe.
  = error_messages_for "person"
  -form_tag do
    %table.formu
      %tr
        %td.label Mot de passe actuel
        %td.value=password_field :person, :test_password
        %td.hint
      %tr
        %td.label Nouveau mot de passe
        %td.value=password_field :person, :password
        %td.hint
      %tr
        %td.label Confirmation du nouveau mot de passe
        %td.value=password_field :person, :password_confirmation
        %td.hint
      %tr
        %td{:colspan=>3, :align=>"center"}=submit_tag "Mettre à jour mon mot de passe"

