= error_messages_for "payment"

%h3="Montant du règlement : #{@payment.amount}€"
%h3="Ventes : "+@payment.sales.collect{|s| s.number}.to_sentence

%table#modes
  %tr
    %td.mode{:valign=>:top}
      =radio_button(:subscription, :payment_mode, :cash)
      %label{:for=>"subscription_payment_mode_cash"} Paiement en espèce
      .info Veuillez prendre contact avec notre trésorier qui sera informé de votre adhésion.
      .logo=image_tag("cash.png")
    %td.mode.nf{:valign=>:top}
      =radio_button(:subscription, :payment_mode, :check)
      %label{:for=>"subscription_payment_mode_check"} Paiement par chèque*
      .info 
        ="Veuillez envoyer votre chèque à l'adresse du trésorier ("+Person.mandated_for(['tresor']).collect{|p| "<em>"+p.label+", "+p.address.gsub("\n", ", ")+"</em>"}.join(" ou ")+")"
      .logo=image_tag("check.png")
    %td.mode.nf{:valign=>:top}
      =radio_button(:subscription, :payment_mode, :card)
      %label{:for=>"subscription_payment_mode_card"} Paiement par carte bancaire
      .info Vous serez automatiquement redirigé vers le site paiement en ligne de notre banque.
      .logo=image_tag("cbvisamaster.gif")

%p="* Le chèque doit être à l'ordre du <strong>Rotex 1690</strong>. Veuillez inscrire le numéro <strong>#{@payment.number}</strong> au dos du chèque."
