%h1 Historique des cotisations
%ul.aclist
  %li=link_to("Relancer les personnes à #{Configuration.the_one.chasing_up_days_array.to_sentence} jours", chase_up_subscriptions_url, :method=>:post)

-if @people
  %h2 Liste des personnes relancées
  -for day, people in @people
    %h3="À #{day} jours"
    %ul
      -for person in people
        %li=link_to(person.label, :action=>:person, :id=>person.id)
  %h2 Cotisations

=dyta :subscriptions
