%h1='Mes images ('+@current_person.images.size.to_s+')'

-if @current_person.images.size < controller.class.images_count_per_person
  %ul.aclist
    %li=link_to("Ajouter une nouvelle image", new_image_url)
-else
  .warning="Vous ne pouvez pas avoir plus de #{controller.class.images_count_per_person} images dans votre galerie."

-if @current_person.images.size>0
  #gallery
    =render :partial=>"image", :collection=>@images
