-if @period
  -if session[:periods][@period.id.to_s]
    .period
      %ul
        -for member in @period.members
          %li
            -if owner_mode
              =link_to member.name, :action=>:member, :id=>member.id
              =' '
              =link_to(image_tag('buttons/update0.png'), {:action=>:member, :id=>member.id})
              =link_to(image_tag('buttons/delete0.png'), {:action=>:period_remove_member, :id=>member.id, :period=>@period.id}, :confirm=>confirm(:delete), :method=>:post)
            -else
              =member.name
        -if owner_mode
          %li.none=link_to 'Ajouter un nouveau membre à la famille', {:action=>:period_add_member, :id=>@period.id}, :class=>:create


    
