= error_messages_for "subscription"

%table.formu.flex
  =tl("Du", date_select(:subscription, :begun_on, {:order => [:day, :month, :year], :start_year=>1970}))
  =tl("Au", date_select(:subscription, :finished_on, {:order => [:day, :month, :year], :start_year=>1970}))
  =tl("Montant (€)", text_field(:subscription, :amount))
  =tl("Mode de paiement", select(:subscription, :payment_mode, Subscription::PAYMENT_MODES))
  =tl("État de la cotisation", select(:subscription, :state, Subscription::STATES))
  =tl("Note", text_area(:subscription, :note, :cols=>20, :rows=>4))
  -if @subscription.payment_mode == "card"
    %tr
      %th{:colspan=>3} Détail de la transaction par Carte Bancaire
    -for col in Subscription.transaction_columns.keys.collect{|x| x.to_s}.sort
      =tl(col.humanize, truncate(@subscription.send(col).to_s, :length=>60))
