%h1
  =@rubric.name
  -if access? :publishing
    %em="["+@rubric.code+"]"
.description=@rubric.description
-if access? :publishing
  -if @rubric.parent
    .parent="A pour rubrique parente "+link_to(@rubric.parent.name, :action=>:rubric, :id=>@rubric.parent_id)
  %ul.aclist
    %li=link_to "Modifier", :action=>:rubric_update, :id=>@rubric.id
  %h2 Articles de la rubrique

=dyta(:rubric_articles)
