$dark: #6677AA;
$comp: #ED8721;
$radius: 5px;
$blmargin: 2*$radius;
$butshadow: 0.5px;
$butopacity: 0.3;
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {padding: 0; margin: 0; font-family: "Open Sans", sans-serif; font-size: 13px;}


a:link, a:visited { color: $dark }
a:hover { color: $comp; text-decoration: none; }
input[type='submit'] { padding: 0.2em 0.4em; }

#page {
  margin: 0 auto;
  width: 80%;
  #header, #title { 
    @include background-image(linear-gradient(lighten($dark, 15%), $dark)); 
    color: white; 
    padding: 0.6em 1em; 
    text-shadow: 0 0 0.1em #000
  }
  #header { 
    font-size: 2em; 
    font-weight: bold; 
    @include border-bottom-radius($radius);
  }
  #menu { 
    @include background-image(linear-gradient(lighten($dark, 15%), $dark)); 
    @include border-radius($radius);
    padding: 0;
    margin: $blmargin 0;
    text-align: center;
    a, span { 
      @include inline-block;
      padding: 0.6em 1em;
      text-decoration: none;
      color: rgba(255,255,255,0.7);
    }
    span.current { 
      @include text-shadow(0 0 3px black);
      color: white;
    }
    a { 
      &:hover { background: rgba(255,255,255,0.1) }
    }
  }
  #title { 
    margin: $blmargin 0;
    font-size: 1.5em; 
    font-weight: normal; 
    background: lighten($dark, 20%);
    @include border-radius($radius);
    @include background-image(linear-gradient(lighten($comp, 35%), lighten($comp, 20%))); 
  }
  #main { 
    background: #FFF;
    /*padding: 1em 0;*/
  }
}

#footer { 
  @include background-image(linear-gradient($dark, lighten($dark, 15%))); 
  color: white; 
  padding: 0.6em 1em; 
  text-shadow: 0 0 0.1em #000;
  margin-top: $blmargin;
  @include border-top-radius($radius);
}

form.search { 
  padding: 0.5em 1em;
  margin: $blmargin 0;
  @include border-radius($radius);
  @include background-image(linear-gradient(lighten($comp, 40%), lighten($comp, 30%))); 
  table { 
    width: 100%;
  }
}

ul { padding: 0.2em 2em; }
fieldset { 
  padding: 1em;
  margin: $blmargin 0;
  border: 1px solid #CCC;
  @include border-radius($radius);
  legend, legend * { 
    padding: 0 0.5ex; 
    font-weight: bold; 
    font-size: 1.1em; 
    color: $dark;
  }
  .input { 
    padding: 2px;
  }
  .input > label { 
 
    width: 200px;
    text-align: right;
    display: inline-block;
    margin-right: 1ex;
  }
}

.actions { 
  margin: $blmargin 0;
  text-align: center;
  * { 
    margin: 0 $blmargin;
  }
}

h2 { margin: $blmargin 0 $blmargin/2 0; font-size: 1.2em; }

table.attributes-list { 
  width: 100%;
  td.label { color: #555; width: 7%; text-align: right;padding: 0 2px; }
}