%h1
  ='Voyage Student Exchange'
  =' ('+@person.label+')' unless @owner_mode

%ul.aclist
  %li=link_to 'Modifier mon voyage', edit_folder_url(@person)

%table.infos.formu
  %tr
    %td.label Du
    %td.value=I18n.localize(@person.started_on, :format=>:long) unless @person.started_on.nil?
  %tr
    %td.label Au
    %td.value=I18n.localize(@person.stopped_on, :format=>:long) unless @person.stopped_on.nil?
  %tr
    %td.label Pays de départ
    %td.value=@person.departure_country.name unless @person.departure_country.nil?
  %tr
    %td.label Pays d'accueil
    %td.value=@person.arrival_country.name unless @person.arrival_country.nil?
  %tr
    %td.label Promotion
    %td.value=@person.promotion.name unless @person.promotion.nil?
  %tr
    %td.label Club d'origine
    %td.value=@person.proposer_zone.name if @person.proposer_zone
  %tr
    %td.label Club sponsor
    %td.value=@person.sponsor_zone.name if @person.sponsor_zone
  %tr
    %td.label Club hôte
    %td.value=@person.host_zone.name if @person.host_zone
  %tr
    %td.label Commentaire
    %td.value=@person.comment

%table.folder
  %tr
    %td#reports{:valign=>:top}
      %h2='Mon journal'
      %ul.aclist
        -if @reports.size>1
          %li.none=link_to("Histoire complète", story_person_url(@person), :class=>:report)
        -for report in @reports
          %li
            =link_to(report.label, article_url(report))
            -if @owner_mode
              = ' '
              =link_to(image_tag('buttons/update0.png'), edit_article_url(report))
              =link_to(image_tag('buttons/delete0.png'), article_url(report), :confirm=>confirm(:delete), :method=>:delete)
        %li.none=link_to('Ajouter un article', new_article_url(:rubric_id=>controller.conf.news_rubric_id), :class=>:create)
    %td &nbsp; &nbsp;
    %td#periods{:valign=>:top}
      %h2 Mes familles
      %ul.aclist
        -for @period in @periods
          %li
            =link_to_remote(@period.name, :url=>folder_period_url(@person, @period), :method=>:get, :update=>"period#{@period.id}")
            -if @owner_mode
              = ' '
              =link_to(image_tag('buttons/update0.png'), edit_folder_period_url(@person, @period))
              =link_to(image_tag('buttons/delete0.png'), folder_period_url(@person, @period), :confirm=>confirm(:delete), :method=>:delete)
            %div{:id=>"period#{@period.id}"}
              =render :partial=>'periods/period', :locals=>{:owner_mode=>@owner_mode}
        %li.none=link_to('Ajouter une nouvelle période et famille', new_folder_period_url(@person), :class=>:create)
