%table.flex.cells
  %tr
    %td
      %h2 Vous êtes déjà adhérent
      =link_to("Connectez-vous", new_session_url(:redirect=>new_sale_url))+" pour continuer"
    %td
      %h2 Vous n'êtes pas adhérent
      ="Veuillez saisir une adresse e-mail valide"
      =error_messages_for "sale"
      %table
        =tl "Votre adresse e-mail", text_field(:sale, :client_email)
        =tl "Confirmer votre adresse e-mail", text_field(:sale, :client_email_confirmation)
        =show_simple_captcha :object => 'sale', :image_style=>'random', :distortion=>'medium', :label=>"Recopiez le code"
