%h1=@title
="Veuillez sélectionner vos produits puis valider"


%table.flex
  %thead
    %tr
      %th="Produit"
      %th="Quantité"
      %th="Montant"
  %tfoot
    %tr
      %td
      %td
      %td.total=@sale.amount
  -for line in @sale.saleable_lines_for(@current_person)
    %tr
      %td=render :partial=>"products/product", :object=>line.product
      %td=text_field("line[]", :quantity, :size=>5, :object=>line)
      %td.dec=line.amount
