%h1=@title

%ul.aclist
  %li=link_to "Nouveau membre", new_folder_member_url(@period.person, :redirect=>request.url)

-members = @person.members
-if members.size>0
  %h2 Utiliser un membre connu
  -form_tag() do
    -for member in members
      .member{:style=>"text-align: center"}
        =radio_button_tag("member", member.id)
        %label{:for=>"member_#{member.id}"}=member.name
        =link_to(image_tag('buttons/update0.png'), edit_folder_member_url(@person, member, :redirect=>request.url))
        =link_to(image_tag('buttons/delete0.png'), folder_member_url(@period.person, member, :redirect=>request.url), :confirm=>confirm(:delete), :method=>:delete)
    .actions=submit_tag('Sélectionner')
